.main_container{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 600px;
}

.carrousel{
    display: flex;
}

.container{
    z-index: 1;
    img{
        scale: 1.4;
    }
    h3{
        backdrop-filter: blur(25px);
        width: 350px;
        height: 80px;
        scale: 1.4;
        text-align: center;
    }
    
}

.containerL{
    z-index: 0;
    img{
        scale: 1;
    }
    h3{
        backdrop-filter: blur(25px);
        position: absolute;
        width: 350px;
        height: 40px;
        scale: 0.8;
        text-align: center;
    }
}

.imgLeft, .imgRigth, .imgCenter {
    max-width:350px;
    height: 230px;
}